/* .App {
  text-align: center;
} */

h1 {
  text-align: center;
}

.character-container {
  display: flex;
  justify-content: space-around;
}

.character-list {
  padding-left: 30px;
  padding-right: 30px;
}

.episode-list {
  padding-right: 30px;
}

.episode-details {
  position: -webkit-sticky; /* for Safari */
  padding-right: 30px;
  padding-left: 30px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 30px;
  margin: 80px;
}

.character-details {
  position: -webkit-sticky; /* for Safari */
  padding-right: 30px;
  padding-left: 30px;
  position: sticky;
  top: 0;
  align-self: flex-start;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding-bottom: 30px;
  margin: 40px;
}

/* .episode-list > ul {
  height: 80vh;
  overflow: scroll;
} */

/* .character-list > ul {
  overflow: scroll;
  height: 80vh;
} */

h2 {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0;
  background-color: white;
}

li {
  list-style: none;
}

img {
  border-radius: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

li:hover {
  font-size: 20px;
  cursor: grab;
}

ul {
  padding:0;
  margin:0;
}